@tailwind base;
@tailwind components;
@tailwind utilities;


.font-inria-serif {
  font-family: 'Inria Serif', serif;
}

.font-Gravitas-One {
  font-family: 'Gravitas One', sans-serif;
}

.img-desaturated {
  filter: grayscale(100%);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #334A5C;
}

.loading-spinner {
  size: 80px;
}

.animate-visible {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-visible.visible {
  opacity: 1;
  transform: translateY(0);
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #00DFC0;
  transform-origin: 0%;
}
